@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-background text-white min-h-screen;
  font-feature-settings: "liga" 1, "kern" 1;
}

a {
  @apply text-accent hover:text-white;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: theme("colors.muted");
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: theme("colors.accent");
  border-radius: 9999px;
}
